<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-5 .ml-auto">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", required: true %>
 </div>

  <div class="col-md-5 .ml-auto">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control", required: true %>
  </div>

  <div class="col-md-5 .ml-auto">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control", required: true %>
  </div>

  <div class="col-md-5 .ml-auto">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, class: "form-control", required: true %>
  </div>

</div>
  <% if user.id.nil? %>

<div class="row">
  <div class="col-md-5 .ml-auto">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", required: true %>
  </div>

 
  <div class="col-md-5 .ml-auto">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", required: true %>
  </div>
  <div class="col-md-5 .ml-auto">
    <%= form.submit "Create Account", class:"btn btn-info" %>
  </div>
</div>
      <% else %>
    <%= form.submit "Update", class:"btn btn-info"%>
  <% end %>
<% end %>
