<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Start Application', new_job_application_path(@job_application) %>
<%= link_to 'View Applications', job_applications_path(@job_applications) %>