<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Back', root_url %> |
<%= link_to 'Job Postings', job_postings_url%>
<%= link_to 'View My Applications', job_applications_path(@job_applications) %>
  <%= link_to "Log Out", logout_path %>
