<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome:</strong>
  <%= @user.name %>
</p>


<% @user.job_postings.each do |p| %>
  <h4><%= link_to "#{p.name}", bookmark_path(p)%></h4>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_url %> |
<%= link_to 'Job Postings', job_postings_url%> |
<%= link_to 'View My Applications', job_applications_path(@job_applications) %>
<%= link_to "Log Out", logout_path %>
