<p id="notice"><%= notice %></p>

<h1> <strong> Welcome, <%= @user.name %>! </strong> </h1>



<div class="row"> 
  <%= link_to 'Job Postings', job_postings_url, class:"btn btn-info btn-lg btn-block"%><br>
  <%= link_to "Advanced Search", advanced_search_job_postings_path, class:"btn btn-info btn-lg btn-block" %><br>
  <%= link_to 'View My Applications', job_applications_path(@job_applications), class:"btn btn-info btn-lg btn-block" %><br>
  <%= link_to 'View My Bookmarks', bookmarks_path(@bookmarks), class:"btn btn-info btn-lg btn-block" %><br>
  <%= link_to 'Edit Profile', edit_user_path(@user), class:"btn btn-info btn-lg btn-block" %><br>
  <%= link_to "Log Out", logout_path, class:"btn btn-info btn-lg btn-block" %><br>
</div>
  
