<h1>My Applications: </h1>
<% @job_applications.each do |job_application| %> <br>
<<<<<<< HEAD
Company: <%= job_application.job_posting.company%><br>
Position: <%= job_application.job_posting.position%><br>
Your Saved Description: <%= job_application.description%><br>
<%= link_to "Review Position", job_posting_path(job_application)%>
=======
<div class="row">
  <div class="col-sm-6">
    <div class="card text-black bg-light">
        <div class="card-body">
Description: <%= job_application.description%><br>
Company: <%= job_application.job_posting.company%><br>
Position: <%= job_application.job_posting.position%><br>
<%= link_to "Review Position", job_posting_path(job_application), class:"btn btn-info"%>
        </div>
    </div>
</div>
</div>

>>>>>>> ar-3
<%end%><br>

