  <%= form_for @job_application do |f| %>
    

  <div class="field">
    <%= f.label :Description %>
    <%= f.text_field :description %>
  </div>
  <%= f.collection_select :user_id, User.all, :id, :name %>
  <%= f.collection_select :job_posting_id, JobPosting.all, :id, :company %>
  <%= f.label :Status %>
    <%= f.text_field :status %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

