<%= form_tag("/job_postings/#{@job_posting_id}/job_applications", method: :post) do %>
  <div class="field">
    Give us a brief description about why we should hire you:<br>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
    <%= hidden_field_tag :user_id, :value => current_user.id %>
     <%# <%= f.collection_select :job_posting_id, JobPosting.all, :id, :company %> 
    <%= hidden_field_tag :job_posting_id, :value => @job_posting_id%>
  <div class="actions">
    <%= submit_tag "Send Application", class:"btn btn-info" %>
  </div>
<% end %>
