<h1> Job Postings </h1>
<%= link_to "Advanced Search", advanced_search_job_postings_path, class:"btn btn-link btn-lg btn-block" %><br>


<% @job_postings.each do |f| %>
<div class="row">
  <div class="col-sm-6">
    <div class="card text-black bg-light">
        <div class="card-body">
    Company: <%= f.company %><br><br>
    Position: <%= f.position %><br><br>
    City: <%= f.city %><br><br>
    Description: <%= f.description %><br><br>
    <%= link_to 'Learn More', job_posting_path(f), class:"btn btn-info" %> <br><br>
            </div>
        </div>
    </div>
</div>
<% end %>

