<h1> Job Postings </h1>

<% @job_postings.each do |f| %>
    Company: <%= f.company %><br><br>
    Position: <%= f.position %><br><br>
    City: <%= f.city %><br><br>
    Description: <%= f.description %><br><br>
    <%= link_to 'Learn More', job_posting_path(f)%><br><br>
<% end %>


