<h2> <%= @job_posting.position%> at <%= @job_posting.company %> </h2>
<h4>  City: <%= @job_posting.city %> </h4>
<h4>  Description: <%= @job_posting.description%> </h4> <br>
<%= link_to 'Apply Now', job_application_path(@job_application)%>
